<!-- Modal -->
<div class="modal fade modal-xl" id="ModalCadastrarEntidade" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal_maior">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Entidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <form method="post" action="{{url('admin/entidades/cadastrar')}}" id="cadastrarEntidade"
              enctype="multipart/form-data">

              <h5 class="modal-title fw-bold" id="exampleModalLabel">Cadastrar Entidade</h5>
              <div class="row">
                <div class="col-lg-11-3qtr card border-2 shadow-sm mt-2 mb-3 me-4 ms-4">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-sm-3 card border-2 me-4">
                        <div class="card-body">
                          <div class="row mb-2">
                            <div class="col-sm-12 card border-2">
                              <div class="card-body">
                                <img src='' alt="" id="imgLogo">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="logo" class="form-label">Logo Entidade</label>
                                <input type="file" name="logo" class="form-control" onchange="previewCadastro()">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="contrato" class="form-label">Termo de Compromisso</label>
                                <input type="file" name="contrato" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8-3qtr card border-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="nome" class="form-label">Nome da Entidade</label>
                                <input type="text" name="nome" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="telefone_entidade" class="form-label">Telefone da Entidade</label>
                                <input type="text" name="telefone_entidade" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="nome_responsavel" class="form-label">Nome do Responsável</label>
                                <input type="text" name="nome_responsavel" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="telefone_responsavel" class="form-label">Telefone do Responsável</label>
                                <input type="text" name="telefone_responsavel" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="text" name="email" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 card border-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="cep" class="form-label">CEP</label>
                                <input type="text" name="cep" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="bairro_id" class="form-label">Bairro</label>
                                <select id="bairro_id" name="bairro_id" class="form-control" required>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for bairro in bairros %}
                                  <option value="{{bairro.id}}" {% if bairro.id==entidades.bairro_id %} selected
                                    {%endif%}>
                                    {{bairro.bairro }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="numero" class="form-label">Número</label>
                                <input type="text" name="numero" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="endereco" class="form-label">Endereço</label>
                                <input type="text" name="endereco" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="referencia" class="form-label">Referência</label>
                                <textarea id="referencia" name="referencia" class="form-control" rows="3"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="complemento" class="form-label">Complemento</label>
                                <textarea id="complemento" name="complemento" class="form-control" rows="3"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <button type="submit" class="btn btn-dark me-2" value="">Cadastrar</button><button type="button"
                      class="btn btn-warning" onClick="window.location.reload();">
                      Cancelar </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function previewCadastro() {
    imgLogo.src = URL.createObjectURL(event.target.files[0]);

  }
</script>