<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="card-body">
                <div style="padding: 10px; margin-bottom: 5px">
                    <form class="form-signin">
                        <div class="row">
                            <div class="col-lg-12 card border-2 shadow-sm me-1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="mb-3">
                                                <label for="cep_leitor" class="form-label">CEP</label>
                                                <input type="text" id="cep_leitor" class="form-control" value="{{leitor.cep_leitor}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="rua_leitor" class="form-label">Rua</label>
                                                <input type="text" id="rua_leitor" class="form-control" value="{{leitor.rua_leitor}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="bairro_leitor" class="form-label">Bairro</label>
                                                <input type="text" id="bairro_leitor" class="form-control" value="{{leitor.bairro_leitor}}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="numero_leitor" class="form-label">Número</label>
                                                <input type="text" id="numero_leitor" class="form-control" value="{{leitor.numero_leitor}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="ponto_de_referencia_leitor" class="form-label">Ponto de
                                                    Referência</label>
                                                <textarea id="ponto_de_referencia_leitor" class="form-control" rows="3"
                                                    readonly>{{leitor.ponto_de_referencia_leitor}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>