{% extends "dashboard.html" %}
{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Pesquisar Leitores
        </li>
    </ol>
</nav>
</div>
</div>

{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom d-flex justify-content-between align-items-center">
        <h3 class="text-center">
            Pesquisar
        </h3>
        <hr />
    </div>
    <div class="card-body">
        <form id="pesquisaLeitor" autocomplete="off" method="post" action="{{url('admin/leitores/fichaLeitor')}}"
            enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF</label>
                        <input class="form-control" type="text" name="cpf_leitor" id="cpf"
                            maxlength="15">
                    </div>
                </div>
            </div>
            <div class="d-grid">
                <div class="col-md-5">
                    <div class="mb-3">
                        <input type="button" class="btn btn-dark pesquisaLeitor" value="Pesquisar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'leitores/modalCadastrarLeitor.html' %}

{% endblock %}