<!-- Modal -->
<div class="modal fade modal-xl" id="ModalEditarLeitor" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal_maior">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leitor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <form method="post" action="{{url('admin/leitores/editar')}}" id="editarLeitor"
              enctype="multipart/form-data">
              <input type="hidden" name="leitor_id" id="leitor_id" class="form-control">
              <h5 class="modal-title fw-bold" id="exampleModalLabel">Editar Leitor</h5>
              <div class="row">
                <div class="col-lg-11-3qtr card border-2 shadow-sm mt-2 mb-3 me-4 ms-4">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-sm-3 card border-2 me-4">
                        <div class="card-body">
                          <div class="row mb-2">
                            <div class="col-sm-12 card border-2">
                              <div class="card-body">
                                <img src='' alt="" id="imagem_leitor_editar">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="foto_leitor_editar" class="form-label">Foto Leitor <span
                                    class="text-danger">*</span></label>
                                <input type="file" name="foto_leitor_editar" id="foto_leitor_editar"
                                  class="form-control" onchange="previewEditar()" required>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8-3qtr card border-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="mb-3">
                                <label for="cpf_leitor_editar" class="form-label">CPF <span
                                    class="text-danger">*</span></label>
                                <input type="text" name="cpf_leitor_editar" id="cpf_leitor_editar"
                                  class="form-control cpf_leitor" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="nome_leitor_editar" class="form-label">Nome <span
                                    class="text-danger">*</span></label>
                                <input type="text" name="nome_leitor_editar" id="nome_leitor_editar"
                                  class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="data_nascimento_leitor_editar" class="form-label">Data Nascimento <span
                                    class="text-danger">*</span></label>
                                <input type="date" name="data_nascimento_leitor_editar"
                                  id="data_nascimento_leitor_editar" class="form-control" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="telefone_leitor_editar" class="form-label">Telefone <span
                                    class="text-danger">*</span></label>
                                <input type="text" name="telefone_leitor_editar" id="telefone_leitor_editar"
                                  class="form-control telefone_leitor" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="sexo_leitor_editar_id" class="form-label">Sexo <span
                                    class="text-danger">*</span></label>
                                <select id="sexo_leitor_editar_id" name="sexo_leitor_editar_id" class="form-control"
                                  required>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione</option>
                                  <option value="1"><span class="flag-icon flag-icon-gr"></span>MASCULINO</option>
                                  <option value="2"><span class="flag-icon flag-icon-gr"></span>FEMININO</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="cor_leitor_editar_id" class="form-label">Cor/Raça <span
                                    class="text-danger">*</span></label>
                                <select id="cor_leitor_editar_id" name="cor_leitor_editar_id" class="form-control"
                                  required>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for cor_raca in cor_racas %}
                                  <option value="{{cor_raca.id}}">
                                    {{cor_raca.cor_raca }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="genero_sexual_leitor_editar_id" class="form-label">Indentidade de
                                  Gênero</label>
                                <select id="genero_sexual_leitor_editar_id" name="genero_sexual_leitor_editar_id"
                                  class="form-control">
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for genero_sexual_leitor in generos_sexual_leitor %}
                                  <option value="{{genero_sexual_leitor.id}}">
                                    {{genero_sexual_leitor.genero_sexual_leitor }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="orientacao_sexual_leitor_editar_id" class="form-label">Orientação
                                  Sexual</label>
                                <select id="orientacao_sexual_leitor_editar_id"
                                  name="orientacao_sexual_leitor_editar_id" class="form-control">
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for orientacao_sexual_leitor in orientacoes_sexual_leitor %}
                                  <option value="{{orientacao_sexual_leitor.id}}">
                                    {{orientacao_sexual_leitor.orientacao_sexual_leitor }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="escolaridade_leitor_editar_id" class="form-label">Escolaridade <span
                                    class="text-danger">*</span></label>
                                <select id="escolaridade_leitor_editar_id" name="escolaridade_leitor_editar_id"
                                  class="form-control" required>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for escolaridade in escolaridades %}
                                  <option value="{{escolaridade.id}}">
                                    {{escolaridade.escolaridade }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="analfabeto_editar_id" class="form-label">Analfabeto? <span
                                    class="text-danger">*</span></label>
                                <select id="analfabeto_editar_id" name="analfabeto_editar_id" class="form-control"
                                  required>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione</option>
                                  <option value="1"><span class="flag-icon flag-icon-gr"></span>SIM</option>
                                  <option value="2"><span class="flag-icon flag-icon-gr"></span>NÃO</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="email_leitor_editar" class="form-label">E-mail</label>
                                <input type="text" name="email_leitor_editar" id="email_leitor_editar"
                                  class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="rede_social_leitor_editar" class="form-label">Rede Social</label>
                                <input type="text" name="rede_social_leitor_editar" id="rede_social_leitor_editar"
                                  class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 card border-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="mb-3">
                                <label for="cep_leitor_editar" class="form-label">CEP</label>
                                <input type="text" name="cep_leitor_editar" id="cep_leitor_editar"
                                  class="form-control cep_leitor">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="rua_leitor_editar" class="form-label">Rua <span
                                    class="text-danger">*</span></label>
                                <input type="text" name="rua_leitor_editar" id="rua_leitor_editar" class="form-control"
                                  required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="bairro_leitor_editar" class="form-label">Bairro <span
                                    class="text-danger">*</span></label>
                                <input type="text" name="bairro_leitor_editar" id="bairro_leitor_editar"
                                  class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="mb-3">
                                <label for="numero_leitor_editar" class="form-label">Número</label>
                                <input type="text" name="numero_leitor_editar" id="numero_leitor_editar"
                                  class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="ponto_de_referencia_leitor_editar" class="form-label">Ponto de
                                  Referência</label>
                                <textarea id="ponto_de_referencia_leitor_editar"
                                  name="ponto_de_referencia_leitor_editar" class="form-control" rows="3"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <button type="button" class="btn btn-dark me-2 editarLeitor" value="">Editar</button><button
                      type="button" class="btn btn-warning" onClick="window.location.reload();">
                      Cancelar </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function previewEditar() {

    var uploadField = document.getElementById("foto_leitor_editar");
    var fname = uploadField.files[0].name;

    if (uploadField.files[0].size > 8097152) {
      Swal.fire({
        title: "Alerta!",
        text: "A imagem escolhida está acima do limite permitido (8Mb)!",
        icon: "warning"
      });
      uploadField.value = "";
    } else if (!['png', 'jpeg', 'jpg'].includes(fname.slice((Math.max(0, fname.lastIndexOf(".")) || Infinity) + 1))) {
      Swal.fire({
        title: "Alerta!",
        text: "A imagem não tem um formato permitido!",
        icon: "warning"
      });
      uploadField.value = "";
    }
    else {
      imagem_leitor_editar.src = URL.createObjectURL(event.target.files[0]);
    }


  }
</script>