{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Tipo do Livro
        </li>
    </ol>
</nav>
</div>
</div>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-light border d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalCadastrarGenerosLivro"
            id="modalCadastrarGenerosLivro">
            <i class="fa fa-fw fa-plus-circle"></i>Cadastrar
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaGenerosLivro" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Tipo do Livro</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genero_livro in generos_livro %}
                    <tr>
                        <td>{{genero_livro.genero_livro}}</td>
                        <td>
                            <button type="button" class="btn btn-warning valorizarGeneroLivro" data-bs-toggle="modal"
                                data-bs-target="#ModalEditarGenerosLivro" data-id="{{genero_livro.id}}">
                                <i class="fa-solid fa-pen m-1"></i> Editar
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'generos_livro/modalCadastrarGenerosLivro.html' %}
{% include 'generos_livro/modalEditarGenerosLivro.html' %}

{% endblock %}