{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Livros
        </li>
    </ol>
</nav>
</div>
</div>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-light border d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalCadastrarLivro"
            id="modalCadastrarLivro">
            <i class="fa fa-fw fa-plus-circle"></i>Cadastrar
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaLivros" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Capa</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Genero</th>
                        <th>Idioma</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                    <tr>
                        <td>colocar foto aqui</td>
                        <td>{{livro.titulo_livro}}</td>
                        <td>{{livro.autor_livro}}</td>
                        <td>{{livro.genero_livro.genero_livro}}</td>
                        <td>{{livro.idioma_livro.idioma_livro}}</td>
                        <td>{{livro.quantidade_livro}}</td>
                        <td>
                            <button type="button" class="btn btn-success valorizarLivro" data-bs-toggle="modal"
                                data-bs-target="#ModalEditarLivro" data-livro_id="{{livro.id}}"
                                data-leitor_id="{{leitor}}">
                                Selecionar
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'livros/modalCadastrarLivro.html' %}
{% include 'livros/modalEditarLivro.html' %}

{% endblock %}