<!-- Modal -->
<div class="modal fade modal-xl" id="ModalEmprestimo" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal_maior">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Empréstimo</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <form method="post" action="{{url('admin/devolucao_emprestimo/cadastrar')}}" id="emprestarLivro"
              enctype="multipart/form-data">

              <h4 class="modal-title fw-bold" id="exampleModalLabel">Leitor</h4>
              <div class="row">
                <div class="col-lg-11-3qtr card border-2 shadow-sm mt-2 mb-3 me-4 ms-4">
                  <div class="card-body">
                    <div class="row">
                      <input type="hidden" name="leitor_id_emprestimo" value="{{leitor.id}}">
                      <input type="hidden" name="livro_id_emprestimo" id="livro_id_emprestimo">
                      <div class="col-lg-3 card border-2 shadow-sm mb-1 ms-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-12 card border-2 shadow-sm mb-3">
                              <div class="card-body">
                                <img src='{{url("uploads/leitores/"~leitor.foto_leitor)}}' alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-7-half card border-2 shadow-sm mb-1 ms-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="mb-3">
                                <label for="cpf_leitor_emprestimo" class="form-label">CPF</label>
                                <input class="form-control" value="{{leitor.cpf_leitor}}" type="text" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-9">
                              <div class="mb-3">
                                <label for="nome_leitor_emprestimo" class="form-label">Nome Completo</label>
                                <input class="form-control" type="text" value="{{leitor.nome_leitor}}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-5">
                              <div class="mb-3">
                                <label for="telefone_leitor_emprestimo" class="form-label">Contato Pessoal</label>
                                <input class="form-control" type="text" value="{{leitor.telefone_leitor}}" readonly>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="mb-3">
                                <label for="data_nascimento_leitor_emprestimo" class="form-label">Data De
                                  Nascimento</label>
                                <input class="form-control" type="date" value="{{leitor.data_nascimento_leitor}}"
                                  readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-10">
                              <div class="mb-3">
                                <label for="email_leitor_emprestimo" class="form-label">E-mail</label>
                                <input class="form-control" type="text" value="{{leitor.email_leitor}}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="modal-title fw-bold" id="exampleModalLabel">Livro</h4>
              <div class="row">
                <div class="col-lg-11-3qtr card border-2 shadow-sm mt-2 mb-3 me-4 ms-4">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-sm-3 card border-2 me-4">
                        <div class="card-body">
                          <div class="row mb-2">
                            <div class="col-sm-12 card border-2">
                              <div class="card-body">
                                <img src='' alt="" id="foto_capa_livro_emprestimo">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8-3qtr card border-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="titulo_livro_emprestimo" class="form-label">Titulo</label>
                                <input type="text" id="titulo_livro_emprestimo" class="form-control" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                              <div class="mb-3">
                                <label for="genero_livro_emprestimo_id" class="form-label">Gênero do Livro</label>
                                <select id="genero_livro_emprestimo_id" class="form-control" readonly>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for genero_livro in generos_livro %}
                                  <option value="{{genero_livro.id}}">
                                    {{genero_livro.genero_livro }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <div class="mb-3">
                                <label for="editora_livro" class="form-label">Editora</label>
                                <input class="form-control" type="text" id="editora_livro_emprestimo" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="ano_livro_emprestimo" class="form-label">Ano</label>
                                <input type="text" id="ano_livro_emprestimo" class="form-control" readonly>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="pais_livro_emprestimo_id" class="form-label">País</label>
                                <select id="pais_livro_emprestimo_id" class="form-control" readonly>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for pais_livro in paises_livro %}
                                  <option value="{{pais_livro.id}}">
                                    {{pais_livro.pais_livro }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="idioma_livro_emprestimo_id" class="form-label">Idioma</label>
                                <select id="idioma_livro_emprestimo_id" class="form-control" readonly>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for idioma_livro in idiomas_livro %}
                                  <option value="{{idioma_livro.id}}">
                                    {{idioma_livro.idioma_livro }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="mb-3">
                                <label for="autor_livro_emprestimo" class="form-label">Autor</label>
                                <input type="text" id="autor_livro_emprestimo" class="form-control" readonly>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="quantidade_livro_emprestimo" class="form-label">Quantidade</label>
                                <input type="text" id="quantidade_livro_emprestimo" class="form-control" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 card border-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="mb-3">
                                <label for="tipo_procedencia_livro_emprestimo_id" class="form-label">Tipo de
                                  Procedência</label>
                                <select id="tipo_procedencia_livro_emprestimo_id" class="form-control" readonly>
                                  <option value=""><span class="flag-icon flag-icon-gr"></span>Selecione
                                  </option>
                                  {% for tipo_procedencia_livro in tipos_procedencia_livro %}
                                  <option value="{{tipo_procedencia_livro.id}}">
                                    {{tipo_procedencia_livro.tipo_procedencia_livro }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <div class="mb-3">
                                <label for="procedencia_livro_emprestimo" class="form-label">Local de
                                  Procedência</label>
                                <input type="text" id="procedencia_livro_emprestimo" class="form-control" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="localizacao_livro_emprestimo" class="form-label">Prateleira</label>
                                <input type="text" id="localizacao_livro_emprestimo" class="form-control" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="sinopse_livro_emprestimo" class="form-label">Sinopse</label>
                                <textarea id="sinopse_livro_emprestimo" class="form-control" rows="3"
                                  readonly></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <h4 class="modal-title fw-bold" id="exampleModalLabel">Informações Empréstimo</h4>
              <div class="row">
                <div class="col-lg-11-3qtr card border-2 shadow-sm mt-2 mb-3 me-4 ms-4">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-lg-12 card border-2 shadow-sm">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="data_emprestimo" class="form-label">Data Empréstimo</label>
                                <input class="form-control" type="date"
                                  value='{{ "now"|date("Y-m-d", "America/Bahia") }}' name="data_emprestimo" readonly>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="" class="form-label">Data Previsão de
                                  Devolução</label>
                                <input class="form-control" type="date"
                                  value='{{ "now"|date_modify("+15 day")|date("Y-m-d", "America/Bahia") }}'
                                  name="data_prevista" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="mb-3">
                                <label for="observacao_emprestimo" class="form-label">Observação de Empréstimo</label>
                                <textarea name="observacao_emprestimo" class="form-control" required></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3">
                  <button type="button" class="btn btn-dark me-2 emprestarLivro" value="">Finalizar
                    Empréstimo</button><button type="button" class="btn btn-warning"
                    onClick="window.location.reload();">
                    Cancelar </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>